#browsers {
	float: left;
}

#filters {
	float: right;
}

.uafilters {
	min-height: 120px;
	width: 49%;
}

.uafilters > div {
	margin: 10px;
	border: solid 1px #DFDFDF;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	z-index: 999;
	cursor: pointer;
	width: 100px;
	height: 100px;
	background: #ffffff;
	text-align: center;
	float: left;
}

.uafilters > div > img {
	clear: both;
	display: block;
	margin: 10px auto 10px auto;
}
